.button{
    background-color: #9D4EDD;
    display: inline-block;
    height: 60px ;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: transform 100ms linear;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.08);
}