.main-title {
    color: #F25A70;
    font-size: 40px;
    text-shadow: 4px 4px 0 #000 ;
    margin-bottom: 28px;
    font-family: 'Press Start 2P';
}

.main-title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}